
/**
 * CSS for bf_mail_lists forms.
 */

.bf-mail-lists-status {
  color: #234600;
  background-color: #f8fff0;
  border-radius: 5px;
}

.msg-wrapper {
  padding: 20px 0 20px 20px;
}

#edit-create-third-party-list {
  margin-left: 100px;
}

#bf-mail-lists-modal-form {
  margin: 20px;
}

.explanation.form-group {
  margin-bottom: 40px;
}

.stand-alone-no-retest-date-contacts {
  margin-top: 50px;
}

.third-party-no-due-date-contacts {
  margin-top: 20px;
}
